#!/bin/bash
# Description: This script allows to create ansible account, also modify 
# some informations for this account
# Name of the script : create_ansible_account.sh
# Creation Date: 09/06/2022
# Contributor : SSA Team
# 
MYUSER="ansible"
MYUID=20002
MYPWD='$1$5RPVAd$grlA7x68.9fgY.hnMN3X2.'
WHEEL_GRP=wheel #for Redhat OS like
SUDO_GRP=sudo #for debian OS like
CMT="ansible - AWX Service Account"
SSH_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC+2t4dQheV58AXfxE6aAYACtg5pd7GS0gI1QHw+pAAZS0mupuIAftQ9jWcpbwmbKtbvyX1GmxHG8juUm/8Arfsn24/b8G2dikgnc+By+kkY71UBLkhSc7J9T1WGV2ilMy5LynMCfV++RzX3pBw++lXZtIZp+fJOzgRiIjSbziwrjTEEF08GhT2/r+l4zEzazWEr1pS83F4CnbFks9QB9oNUvQjtYrWjSLYh5Kgrycv2IpDrCdG7Ve2FcSaz0EdNvNIYCZeHbfU7TeiCL0AmIkRHqMyh0oFiPQkvdCT1si5u2Ax1mmqsHyPZEi5PYHRtiMllF6BfwuYCqe0R6MDB9pC/EBlIw8D+TqaYf1TjurNJIEXc0aHblHo3oO/uwHSvG+alv/be9j1JTgi3j56AwUGeaBFYRCxm3Yz61cToDock58h/mkPiQ7AcoV9LEwS+4jzT4ceE9dHxsmMGMfvj6wQWahrGclTIGx1NqFqdDy3WaRimfy0bRZ+cjyFYY+Atu8= ansible@SDCTLP0150"

echo ">>> First try change password & add authorized_keys for user $MYUSER"

if [[ $(getent passwd  $MYUSER) ]];then
	echo ">>> User $MYUSER already exists"
	echo ">>> Change password"
	usermod -p $MYPWD $MYUSER && echo ">>> Change password - OK"


	if [[ ! -f /opt/$MYUSER/.ssh ]]; then
		echo ">>> Create /opt/$MYUSER/.ssh"
		mkdir -p /opt/$MYUSER/.ssh
		chmod 700 /opt/$MYUSER/.ssh
		chown -R $MYUSER:$MYUSER /opt/$MYUSER/.ssh
		usermod -d /opt/$MYUSER $MYUSER
		echo $SSH_KEY > /opt/$MYUSER/.ssh/authorized_keys
		chmod 644 /opt/$MYUSER/.ssh/authorized_keys
		chown $MYUSER:$MYUSER /opt/$MYUSER/.ssh/authorized_keys
	else
		echo ">>> Re-add the public key in authorized_keys"
		echo $SSH_KEY >> /opt/$MYUSER/.ssh/authorized_keys && echo ">>> Add Key - OK"
		chmod 644 /opt/$MYUSER/.ssh/authorized_keys
		chown $MYUSER:$MYUSER /opt/$MYUSER/.ssh/authorized_keys

	fi
else
	echo ">>> User $MYUSER does not exist"
fi

echo ">>> Try to create group $MYUSER"

if [[ $(getent group  $MYUSER) ]];then
	echo ">>> Group $MYUSER already exists"
	echo ">>> Change GUID to $MYUID"
	groupmod -g $MYUID $MYUSER && echo ">>> Change GUID - OK"
else
	groupadd -g $MYUID $MYUSER && echo ">>> Add group - OK"
fi

echo ">>> Try to create user $MYUSER"

if [[ $(getent passwd  $MYUSER) ]];then
	echo ">>> User $MYUSER already exists"
	echo ">>> Change UID to $MYUID"
	usermod -u $MYUID $MYUSER  && echo ">>> Change UID - OK"
	chown -R $MYUSER:$MYUSER /opt/$MYUSER && echo ">>> Change home GID and UID - OK"
else
	echo ">>> Create /opt/$MYUSER/.ssh"
	mkdir -p /opt/$MYUSER/.ssh
	chmod 700 /opt/$MYUSER/.ssh
	echo ">>> create user $MYUSER"
	#useradd -u $MYUID -g $MYUID -G $WHEEL_UID -d /opt/$MYUSER -c "$CMT" -m $MYUSER  && echo ">>> Add user - OK"
	useradd -u $MYUID -g $MYUID -d /opt/$MYUSER -c "$CMT" -m -p $MYPWD $MYUSER  && echo ">>> Add user - OK"
	usermod -a -G $WHEEL_GRP $MYUSER || usermod -a -G $SUDO_GRP $MYUSER
	[[ $? -eq 0 ]] && echo ">>> Add user to an additional group - OK" || echo ">>> Add user to an additional group - Failed"
	chown -R $MYUSER:$MYUSER /opt/$MYUSER && echo ">>> Change home GID and UID - OK"
fi

echo ">>> Try to add public key"

if [[ -f /opt/$MYUSER/.ssh/authorized_keys ]]; then
	echo ">>> authorized_keys already exists"
	echo ">>> Re-add the public key in authorized_keys"
	echo $SSH_KEY > /opt/$MYUSER/.ssh/authorized_keys
else
	mkdir /opt/$MYUSER/.ssh
	chmod 700 /opt/$MYUSER/.ssh
	chown -R $MYUSER:$MYUSER /opt/$MYUSER/.ssh
	echo $SSH_KEY >> /opt/$MYUSER/.ssh/authorized_keys
	chmod 644  /opt/$MYUSER/.ssh/authorized_keys
	chown $MYUSER:$MYUSER /opt/$MYUSER/.ssh/authorized_keys
fi

if [[ -f /etc/debian_version ]] && [[ ! -f /usr/bin/sudo ]];then
		apt-get install sudo -y && echo ">>> Install sudo - OK"

elif [[ -f /etc/redhat-release ]] && [[ ! -f /usr/bin/sudo ]];then
		yum install sudo -y && echo ">>> Install sudo - OK"

fi

echo ">>> Set expiration account/password to never"
chage -I -1 -m 0 -M 99999 -E -1 $MYUSER

echo ">>> Del all Patterns contain $MYUSER in /etc/sudoers if exists"
sed -i '/'$MYUSER'/d' /etc/sudoers

echo ">>> Del all Patterns contain $MYUSER in /etc/sudoers.d/* if exists"
sed -i '/'$MYUSER'/d' /etc/sudoers.d/*

echo ">>> Add sudoers for $MYUSER"
echo "$MYUSER ALL=(ALL) ALL" > /etc/sudoers.d/$MYUSER && echo ">>> Add sudo for $MYUSER - OK"
chmod 440 /etc/sudoers.d/$MYUSER
